# Python Bytecode and Cache
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Ruff Cache
.ruff_cache/

# Local Environment Variables
.env

# IDE / Editor specific
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db

# Coverage Reports
.coverage
coverage.xml
coverage_report.xml
*/.coverage
htmlcov/
test_logs/
coverage_html/ 